*.o
*.pyc

.*.swp

src/apps/cainteoir/cainteoir
src/libcainteoir/libcainteoir.a

tests/rdfuri

Makefile
Makefile.in

.deps/
.dirstamp

INSTALL
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1

