# build artefacts:

*.o
*.lo
*.pyc
*.check
*.results

# vi/vim editor files:

*~
.*.swp

# code generation data:

data/css
data/languages.dat
data/languages.dot
data/*.svg
src/libcainteoir/parsers/html-entities.dat

# build output:

docs/api/xml/
docs/api/html/

data/languages.rdf.gz

src/libcainteoir/libcainteoir.a
src/libcainteoir/libcainteoir.la

src/apps/cainteoir/cainteoir
src/apps/metadata/metadata
src/apps/tagcloud/tagcloud
src/apps/doc2doc/doc2doc

tests/buffer
tests/content
tests/rdfmodel
tests/rdfquery
tests/ntriple_formatter
tests/turtle_formatter
tests/events
tests/xmlreader
tests/encoding
tests/languages
tests/utf8
tests/parsetext
tests/mimetype
tests/styles
tests/synthesizer
tests/xmlcssparser

# docs/phonemes output:

README.html
docs/*.html
docs/*/*.html
!docs/doxygen/*.html
docs/implementation-status/csv2html.stamp
data/phonemes/*.html
data/phonemes/*/*.html

# autotools output:

Makefile
Makefile.in
docs/cainteoir-engine.doxyconf

.libs/
.deps/
.dirstamp

README
NEWS
INSTALL
aclocal.m4
autom4te.cache/
ChangeLog
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh

cainteoir-engine-*

# gettext/libintl/autopoint output:

ABOUT-NLS
config.guess
config.rpath
config.sub
m4/*
!m4/cxx11.m4
po/*~

po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/cainteoir-engine.pot
po/stamp-po

# debian output:

debian/tmp/
debian/libcainteoir0/
debian/libcainteoir-dev/
debian/cainteoir/
debian/metadata/

debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/debhelper.log
debian/files
debian/substvars

# mime database (for the tests):

data/mime/application/
data/mime/multipart/
data/mime/text/

data/mime/XMLnamespaces
data/mime/aliases
data/mime/generic-icons
data/mime/globs
data/mime/globs2
data/mime/icons
data/mime/magic
data/mime/mime.cache
data/mime/subclasses
data/mime/treemagic
data/mime/types
data/mime/version
