# build artefacts:

*.o
*.lo
*.pyc
*.check
*.results

# vi/vim editor files:

*~
.*.swp

# generated test files:

*.bz2
*.epub
*.gz
*.lzma
*.zip

# generated data files:

*.vdb
*.ldb

# code generation data/output:

data/css
data/languages.dat
data/supplementalData.xml
src/libcainteoir/parsers/html-entities.dat
*.fsm.h

# build output:

docs/api/xml/
docs/api/html/
docs/api/html.stamp

*.dot
*.svg

!docs/api/src/*.dot

src/libcainteoir/libcainteoir.a
src/libcainteoir/libcainteoir.la

src/apps/cainteoir
src/apps/metadata
src/apps/phoneme-converter
src/apps/dictionary
src/apps/sigproc

src/examples/doc2doc
src/examples/musicplayer
src/examples/tagcloud
src/examples/voice-synthesizer

src/experimental/synthesizer

tests/*.test
tests/algorithm
tests/events
tests/xmlreader
tests/parsetext
tests/mimetype
tests/styles

# docs/phonemes output:

*.html
docs/implementation-status/csv2html.stamp

# autotools output:

Makefile
Makefile.in

.libs/
.deps/
.dirstamp

README
NEWS
INSTALL
aclocal.m4
autom4te.cache/
ChangeLog
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh

cainteoir-engine-*
data/languages.stat

# gettext/libintl/autopoint output:

ABOUT-NLS
config.guess
config.rpath
config.sub
m4/*
!m4/cxx11.m4
po/*~

po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/cainteoir-engine.pot
po/stamp-po

# debian output:

debian/tmp/
debian/libcainteoir0/
debian/libcainteoir-dev/
debian/cainteoir/
debian/metadata/

debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/debhelper.log
debian/files
debian/substvars

# mime database (for the tests):

data/mime/application/
data/mime/multipart/
data/mime/text/

data/mime/XMLnamespaces
data/mime/aliases
data/mime/generic-icons
data/mime/globs
data/mime/globs2
data/mime/icons
data/mime/magic
data/mime/mime.cache
data/mime/subclasses
data/mime/treemagic
data/mime/types
data/mime/version
