Source: cainteoir-engine
Section: sound
Priority: extra
Maintainer: Reece H. Dunn <msclrhd@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autopoint, gettext, libpulse-dev, libxml2-dev, libvorbis-dev, libmagic-dev
Standards-Version: 3.9.1
Vcs-Git: git://github.com/rhdunn/cainteoir-engine.git
Vcs-browser: https://github.com/rhdunn/cainteoir-engine
Homepage: http://rhdunn.github.com/cainteoir

Package: cainteoir
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Read and record documents using text-to-speech.
 Read and record different document formats (such as ePub and HTML) to various
 audio output formats (such as PulseAudio, WAV and OGG/Vorbis).
