Source: cainteoir-engine
Section: sound
Priority: extra
Maintainer: Reece H. Dunn <msclrhd@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
               autoconf, automake, libtool, autopoint, gettext,
               libpulse-dev, libasound2-dev,
               libvorbis-dev, libpoppler-glib-dev,
               shared-mime-info, iso-codes,
               libespeak-dev,
               python (>= 2.6), python-yaml
Standards-Version: 3.9.3
Vcs-Git: git://github.com/rhdunn/cainteoir-engine.git
Vcs-browser: https://github.com/rhdunn/cainteoir-engine
Homepage: http://rhdunn.github.com/cainteoir

Package: cainteoir-data
Architecture: all
Section: libs
Depends: ${misc:Depends}, shared-mime-info, iso-codes
Description: Common data files for Cainteoir Text-to-Speech.
 This package provides the common data files for the Cainteoir Text-to-Speech
 engine.

Package: libcainteoir0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, cainteoir-data (= ${source:Version})
Description: Shared library for Cainteoir Text-to-Speech.
 This package provides the runtime libraries for the Cainteoir Text-to-Speech
 engine. It exposes document processing and text-to-speech functionality.

Package: libcainteoir-dev
Architecture: any
Section: libdevel
Priority: optional
Depends: libc-dev, ${misc:Depends}, libcainteoir0 (= ${binary:Version})
Description: Development headers for the Cainteoir Text-to-Speech engine.
 This package provides the development libraries and headers for interfacing
 with the Cainteoir Text-to-Speech engine.

Package: cainteoir
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcainteoir0 (= ${binary:Version})
Description: Read and record documents using text-to-speech.
 Read and record different document formats (such as ePub and HTML) to various
 audio output formats (such as PulseAudio, WAV and OGG/Vorbis).
 .
 This is the command-line interface to the Cainteoir Text-to-Speech engine.

Package: cainteoir-dictionary
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcainteoir0 (= ${binary:Version})
Description: Manage Text-to-Speech pronunciation dictionaries.
 Create, manage and test pronunciation dictionaries for Text-to-Speech programs
 like eSpeak and Cainteoir.

Package: metadata
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcainteoir0 (= ${binary:Version})
Description: Extract metadata associated with a document.
 Extract the metadata from various document formats including ePub, RDF/XML
 and SMIL. Supports generating RDF N-Truple, RDF Turtle and VorbisComment
 metadata formats.

Package: phoneme-converter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcainteoir0 (= ${binary:Version})
Description: Convert from one phoneme transcription scheme to another.
 Supports IPA, ASCII-IPA (Kirshenbaum), X-SAMPA, CXS (Conlang X-SAMPA), Arpabet
 and other phoneme transcription schemes.
