/** @file
  * @brief CSS Counter Styles Level 3
  * @see   http://www.w3.org/TR/css-counter-styles-3/
  */

/** @brief Western decimal numbers.
  * @see   http://www.w3.org/TR/css-counter-styles-3/#simple-numeric
  */
@counter-style decimal {
	system: numeric;
	symbols: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
}

/** @brief A filled circle.
  * @see   http://www.w3.org/TR/css-counter-styles-3/#simple-symbolic
  */
@counter-style disc {
	system: cyclic;
	symbols: '•';
	suffix: '';
}
